section.date-display {
    min-height: 12rem;
    max-height: 15rem;
    font-size: 200%;
    h1 {
        display: inline;
        white-space: nowrap;
        &#month {
            @include belowSize(1144px) {
                display: none;
            }
        }
    }
}